.chosen-article-container {
    display: grid;
    grid-template-rows: 100px 1fr 50px; 
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas:  
      "margint margint margint"  
      "marginl article margin"
      "marginl article margin"
      "marginl article margin"
      "marginl article margin"
      "marginl comments margin" 
      "marginl comments margin"
      "marginl comments margin"
      "marginl comments margin"
      "marginl comments margin";
  width: 100vw;
  max-height: 300vh;
}

.chosen-article {
    grid-area: article;
    overflow: auto;
    display: inline-flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
}

.chosen-article .voter {
    float: left;
    padding: 5px;
}

.chosen-article .voter button {
    width: 30px;
    height: 30px;
}

.article-body {
    padding: 10px;
}

.article-body p {
    padding-top: 10px;
}

.article-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    margin-bottom: 20px;
    width: auto;
}

.comments {
    grid-area: comments;
    overflow: auto;
    background-color: #efe4d1;
    min-width: 0;
    min-height: 0;
}

.comment-sorting {
    background-color:  #efe4d1;
    font-family: 'Playfair Display', serif;
    font-size: 0.7em;
    width: 10%;
    height: 30px;
    color: #594d46;
    border-right: 1px solid #594d46;
    margin-bottom: 2%;
}

.comment-sorting:last-of-class {
    border-right: none;
}

.back-button {
    font-family: 'Playfair Display', serif;
    font-size: 0.75em;
    padding: 5px;
    margin: 25px;
    width: 100px;
    border-radius: 5px;
    color: #594d46;
    border: 1px solid #594d46;
}

.back-button:hover {
    color: #d1b280;
    border: 1px solid #d1b280;
}

.new-comment {
    grid-area: new-comment;
    min-width: 0;
    min-height: 0;
}