/* .articles {
    padding-top: 8%;
}

.chosen-article {
    padding-top: 8%;
} */

.sorting {
    width: 100px;
    color: #594d46;
    height: 30px;
    background-color: #d1b280;
    font-family: 'Playfair Display', serif;
    font-size: 0.6em;
}

.sorting:hover {
    cursor: pointer;
}
