.my-comment {
    background-color: #b3de81;
    opacity: 0.8;
}

.my-comment:hover {
    opacity: 0.9;
}

.bold {
    font-size: 0.75em;
    font-weight: bold;
}

i {
    opacity: 0.5;
}

i:hover {
    opacity: 0.8;
}