.my-comment {
    background-color: #D1B280;
    opacity: 0.8;
}

.my-comment:hover {
    opacity: 0.9;
}

i {
    opacity: 0.5;
}

form {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 2%;
}
 
.new-comment {
    padding-bottom: 4vh;
    border-bottom: 1px solid #594d46;
}

.new-comment textarea {
    width: 80%;
    height: 80px;
    font-family: 'Playfair Display', serif;
    font-size: 0.5em;
    margin: 5px;
    border: none;
}

.new-comment button {
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    font-family: 'Playfair Display', serif;
    font-size: 0.5em;
    background-color: #efe4d1;
    cursor: pointer;
    color: #594d46;
    border: 1px solid #594d46;
}

.new-comment button:hover {
    color: #d1b280;
    border: 1px solid #d1b280;
}

.new-comment textarea:focus {
    border: 1px solid silver;
    outline: none;
}

.comment-box {
    padding-top: 2vh;
}

.ordinary-comment {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    align-items: center;
}

.ordinary-comment .comment-body {
    width: 85%;
}

.ordinary-comment .voter {
    width: 4vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.ordinary-comment .voter p {
    margin-left: -2vw;
    padding-left: 0;
}


.ordinary-comment .voter button {
    width: 30px;
    height: 30px;
    background-color: #efe4d1;
}
.my-comment {
    padding: 1%;
    padding-left: 5%;
    border-bottom: 1px solid #594d46;
}

.my-comment i {
    font-size: 0.6em;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

.my-votes {
}

