.my-comment {
    background-color: #D1B280;
    opacity: 0.8;
}

.my-comment:hover {
    opacity: 0.9;
}

/* .bold {
    font-size: 0.75em;
    font-weight: bold;
} */

i {
    opacity: 0.5;
}
.new-comment {
    padding-bottom: 4vh;
    border-bottom: 1px solid #594d46;
}

.new-comment input {
    width: 90%;

    margin: 5px;
    margin-top: -10px;
    height: 50px;
    border: none;
}

.new-comment button {
    width: 8%;
    padding: 2px;
    font-family: 'Playfair Display', serif;
    font-size: 0.5em;
    background-color: #efe4d1;
    cursor: pointer;
    color: #594d46;
}

.new-comment input:focus {
    border: 1px solid silver;
    outline: none;
}

.comment-box {
    padding-top: 2vh;
}

.ordinary-comment {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    align-items: center;
}

.ordinary-comment .comment-body {
    width: 90%;
}

.ordinary-comment .voter {
    width: 4vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.ordinary-comment .voter p {
    margin-left: -1vw;
    padding-left: 0;
}


.ordinary-comment .voter button {
    width: 30px;
    height: 30px;
    background-color: #efe4d1;
}


