nav {
    background-color: #265C00;
    color: #fdffff;
    padding: 10px;
    display: flex;
    width: 100%;
}

nav a {
    text-decoration: none;
    color:  #fdffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}