* {
  margin: 0;
  padding: 0;
}

body {
  color: #505160;
  font-family: 'Playfair Display', serif;
  font-size:2em;
}

p {
  font-size: 0.5em;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

button i {
  opacity: 0.5;
  font-size: 2em;
  transition-duration: 10000ms;
  color: blue;
}

button i:focus {
  opacity: 0.8;
  font-size: 2.5em;
  transition-duration: 10000ms;
  color: red;
}