* {
  margin: 0;
  padding: 0;
}

body {
  color: #505160;
  background-color: #efefef;
  font-family: 'Playfair Display', serif;
  font-size:2em;
}

p {
  font-size: 0.5em;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

button i {
  opacity: 0.5;
  font-size: 2em;
  transition-duration: 10000ms;
  color: #594D46;
}

button {
  background-color: #efefef;
}

button i:focus {
  opacity: 0.8;
  font-size: 2.5em;
  transition-duration: 10000ms;
  color: red;
}

.grid-container {
  z-index: -1;
  display: grid;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 100px;
  grid-template-areas:    
      'article-sort article-sort article-sort' 
      'main main second'
      'main main second'
      'main main second'
      'main main second'
      'third fourth fifth'
      'sixth seventh eighth'
      'pagination pagination pagination';
  border: 1px solid black;
  width: 100%;
  height: 150vh;
  margin: 0;
}

.article-sort {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: article-sort;
  background-color: #D1B280;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.article {
  padding: 0 10px;
}

.article-title {
  font-size: 0.7em;
  width: 80%;
  margin-top: -10px;
}

.area0 {
  grid-area: main;
  border-bottom: 1px solid #D1B280;
  margin: 10px;
  margin-top: 25px;
}

.area1 {
  grid-area: second;
  border-bottom: 1px solid #594d46;
  margin: 10px;
  margin-top: 25px;
}

.area2 {
  grid-area: third;
}

.area3 {
  grid-area: fourth;
}

.area4 {
  grid-area: fifth;
}

.area5 {
  grid-area: sixth;
}

.area6 {
  grid-area: seventh;
}

.area7 {
  grid-area: eighth;
}

.area5, .area6, .area7 {
  margin-top: -10%;
}

.area2, .area3, .area4, .area5, .area6, .area7 {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin: 10px;
  border-bottom: 1px solid #594d46;
}

.pagination {
  grid-area: pagination;
  background-color: #D1B280;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
}

.paginate {
  border: 1px solid green;
  width: 20px;
  height: 20px;
}

a {
  color: #594d46;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #D1B280;
  text-decoration: none;
}

.area0 .img-container {
  margin-top: 0;
  margin-bottom: 2%;
  border: 1px solid #D1B280;
  height: 70%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd4d735954f33290fbf984e4eb7abe32&auto=format&fit=crop&w=967&q=80");
}

.area1 .img-container {
  margin-bottom: 5%;
  border: 1px solid #594d46;
  height: 50%;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/0e/60/60/0e60601f0e9c24770b7515717fa1e650.jpg");
}

.article-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.voter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.voter p {
  text-align: center;
  padding: 5px;
}

