* {
  margin: 0;
  padding: 0;
}

body {
  color: #505160;
  background-color: #efefef;
  font-family: 'Playfair Display', serif;
  font-size:2em;
}

p {
  font-size: 0.5em;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

button i {
  opacity: 0.5;
  font-size: 2em;
  transition-duration: 10000ms;
  color: #594D46;
}

.vote-button {
  height: 30px;
  width: 30px;
}

button {
  background-color: #efefef;
}

button i:focus {
  opacity: 0.8;
  font-size: 2.5em;
  transition-duration: 10000ms;
}

@media screen and (min-width: 770px) {
  .front-page-container {
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 100px;
    grid-template-areas:    
        'article-sort article-sort article-sort' 
        'main main second'
        'main main second'
        'third fourth fifth'
        'sixth seventh eighth'
        'pagination pagination pagination';
    width: 100vw;
    height: 200vh;
    margin: 0;
  }
}

@media screen and (max-width: 770px) {
  .front-page-container {
    grid-template-rows: 100px 100px 1fr 1fr 1fr 1fr 100px;
    grid-template-areas:    
        'article-sort article-sort article-sort' 
        'article-sort article-sort article-sort' 
        'main main second'
        'main main second'
        'third fourth fifth'
        'sixth seventh eighth'
        'pagination pagination pagination';
    width: 100vw;
    height: 200vh;
    margin: 0;
  }
}

.sorting {
  width: 100px;
  color: #594d46;
  height: 30px;
  background-color: #d1b280;
  font-family: 'Playfair Display', serif;
  font-size: 0.6em;
}

.sorting:hover {
  cursor: pointer;
}

.article-sort {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: article-sort;
  background-color: #D1B280;
  padding-bottom: 10px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .article-sort {
    height: 100%;
  }
}

@media screen and (min-width: 771px) and (max-width: 999px) {
  .article-sort {
    height: 110%;
  }
}

@media screen and (max-width: 499px) {
  .article-sort {
    height: 10%;
  }
}


@media screen and (min-width: 500px) and  (max-width: 770px) {
  .article-sort {
    height: 8%;
  }
}

.sorting {
  width: 100px;
  margin: 0;
}

.article {
  padding: 0 10px;
}

.article-title {
  font-size: 0.7em;
  width: 80%;
  margin-top: -10px;
}

.area0 {
  grid-area: main;
  border-bottom: 1px solid #D1B280;
  margin: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
  max-height: 100%;
  background-color: #efe4d1;
  opacity: 0.9;
  box-shadow: 0px 3px 15px #505160;
  border-radius: 10px;
}

.area0 .article-info, .area0 .article-details {
  padding: 15px;
}

.area0 a {
  color: #b71c1c;
}

.area0 a:hover {
  color: #505160;
}

.area1 {
  grid-area: second;
  border-bottom: 1px solid #594d46;
  margin: 10px;
  margin-top: 25px;
}

.area2 {
  grid-area: third;
}

.area3 {
  grid-area: fourth;
}

.area4 {
  grid-area: fifth;
}

.area5 {
  grid-area: sixth;
}

.area6 {
  grid-area: seventh;
}

.area7 {
  grid-area: eighth;
}

.area5, .area6, .area7 {
  margin-top: -10%;
}

.area2, .area3, .area4, .area5, .area6, .area7 {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 0;
  margin: 10px;
  border-bottom: 1px solid #594d46;
}

.pagination {
  grid-area: pagination;
  background-color: #D1B280;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  padding-bottom: 25px;

}

.paginate {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: 'Playfair Display', serif;
  font-size: 0.5em;
  background-color: #D1B280;
  color: #594d46;
}

.paginate:hover {
  opacity: 0.7;
  cursor: pointer;
}

a {
  color: #594d46;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #D1B280;
  text-decoration: none;
}

.area0 .img-container {
  margin-top: 0;
  margin-bottom: 2%;
  overflow: hidden;
  height: auto;
  width: 60vw;
  height: 60%;
  background-color: #efe4d1;
  opacity: 0.8;
}

@media screen and (min-width: 770px) {
  .area1 .img-container {
    margin-bottom: 5%;
    overflow: hidden;
    height: auto;
    width: 35vw;
    height: 50%;
  }
}

@media screen and (max-width: 770px) {
  .area1 .img-container {
    display: none;
  }

  .area0 .img-container img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}


.area0 .img-container img, .area1 .img-container img {
  display: block;
  margin: auto;
  max-height: 100%;
  width: auto;
}


.area2 .img-container,
.area3 .img-container,
.area4 .img-container,
.area5 .img-container,
.area6 .img-container,
.area7 .img-container {
  display: none;
}

.article-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.article-details {
  display: flex;
  flex-direction: column;
}

.voter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.voter p {
  text-align: center;
  padding: 2px;
}

.error {
  /* margin-top: 40%; */
}